<div class="container">
  <h1>My bookings</h1>
  <div class="flex-container-col">
    <% @bookings.each do |booking| %>
      <%= link_to booking_path(booking), { class: "card-link" } do %>
        <div class="card-booking">
          <div class="card-image" style="background-image: url('<%= cl_image_path booking.boat.photo.key, height: 220, crop: :fill %>')">
          
          </div>
          <div class="card-details">
            <h2><%= booking.boat.title %></h2>
            <p>
              From <strong><%= booking.start_date %></strong> to <strong><%= booking.end_date %></strong><br>
              Price: <strong><%= booking.boat.price_per_day %></strong> € per day <br>
              Capacity: <strong><%= booking.boat.capacity %></strong> people <br>
            </p>
            <% if booking.status == "Accepted" %>
            <div class="status alert-success" > <%= booking.status %> </div>
            <% elsif booking.status == "Rejected" %>
            <div class="status alert-danger" > <%= booking.status %> </div>
            <% else %>
            <div class="status alert-warning" > <%= booking.status %> </div>
            <% end %>
            <div> <%= link_to "Accept",  %>
              <div> <%= link_to "Reject",  %>
          </div>
          <div class="right-chevron">
            <i class="fas fa-chevron-right"></i>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>


<div>
  <%= link_to 'Book an other boat !', boats_path %>
</div>
