<h1>You made the right choice ! Here is your booking:</h1>

<div class = "card-product">



</div>
<% @boat= Boat.find(@booking.boat_id) %>

<%= Boat.find(@booking.boat_id) %>
<div>
  <%= "Category: #{@boat.category}" %>
  <%= "Brand: #{@boat.brand}" %>
  <%= "Location: #{@boat.location}" %>
  <%= "Price/day: #{@boat.price_per_day}" %>
  <%= "Capacity: #{@boat.capacity}" %>
  <%= "Building Year: #{@boat.building_year}" %>
</div>

<div>
  <%= link_to 'Book an other boat !', boats_path %>
</div>

<%= link_to 'Go back to your bookings', bookings_path %>

<div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Yay!</strong> 🎉 you successfully booked this boat</span>
  <a data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>
