<div class = "container">
  <div class = 'd-flex justify-content-between align-items-center'>
    <h1> Your boats </h1>
    <div class = 'add-btn'> <span> <%= link_to  "Add a boat", new_boat_path %> </span> </div>
  </div>

  <div class = 'boats'>
    <% @boats.each do |boat| %>
      <div class = 'boat-card'>
        <div> <%= cl_image_tag boat.photo.key, height: 300, width: 400, crop: :fill %> </div>
        <div class = 'boat-title'> <%= link_to boat.brand, boat_path(boat) %> </div>
        <div class = 'boat-infos'>
          <div>
            <%= boat.category %>
            <%= boat.location %>
          </div>
          <div>
            <%= boat.price_per_day %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


</div>
