<div class = "container">
  <div class = 'big-title d-flex justify-content-between align-items-center mt-3 mb-3'>
    <h1> CHOOSE YOUR BOAT TO SAIL </h1>
  </div>
  <div class="boats-map-container">

    <%# Boats grid %>
    <div class = 'boats'>
      <% @boats.each do |boat| %>
        <%= link_to boat_path(boat), { class: "card-link" } do %>
          <div class = 'boat-card'>
            <div class="boat-availability available">
              <span>Available</span>
            </div>
            <div class = "boat-image" style="background-image: url('<%= cl_image_path boat.photo.key, height: 220, crop: :fill %>')">
            </div>
            <div class = 'boat-details'>
              <h3 class = 'boat-title'> <%= boat.title.capitalize %> </h3>
              <p>
                <% if boat.category == "motorboat"%>
                  <%= boat.category %>
                <% else %>
                  <%= boat.category %>
                <% end %>
                <br>
                <i class="fas fa-user"></i> <%= boat.capacity %>
              </p>


              <div class="item-tags">
                <div class="item-tag">
                  <i class="fas fa-compass"></i>
                  <%= boat.location %>
                </div>
                <div class="item-tag">
                  <i class="fas fa-euro-sign"></i>
                  <%= boat.price_per_day %>
                </div>
              </div>

            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <%# Mapbox %>
    <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>


</div>
