<div class = "container">
  <h1> New Boat </h1>
  <div class= form-new-boat>
    <%= simple_form_for(@boat) do |f| %>
    <%= f.input_field :category, placeholder: 'motorboat or sailboat' %>
    <%= f.input_field :brand %>
    <%= f.input_field :location %>
    <%= f.input_field :length %>
    <%= f.input_field :price_per_day %>
    <%= f.input_field :capacity %>
    <%= f.input_field :building_year %>
    <%= f.input :photo, as: :file %>
    <%= f.submit 'Create boat', :class => 'btn btn-primary' %>
    <% end %>
  </div>

  <div> <%= link_to "Back to boats", boats_path, class: 'btn btn-primary' %> </div>
</div>
